<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容设置</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
           
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            
        </div>
        <div class="clear"></div>
       
  </div>
 
 
 
  
 
  <div class="nav_bg nav_top"><b>隐藏频道</b></div>
  <div class="m_title"><b>门户</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<select name="hideportal[]" size="10" multiple="multiple">
		   		<option value="">空</option><option value="1" class="bold">郑生贵100</option><option value="2" class="bold">郑生贵2</option></select>
     </div>
     <div class="cont_r">
     	用于隐藏不希望在AppCan手机论坛客户端应用上显示的栏目。门户本身隐藏的栏目不需要再次在这里设置。<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
  <div class="m_title"><b>论坛</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<select name="hideforum[]" size="10" multiple="multiple">
					<option value="">空</option><optgroup label="--Discuz!"><option value="67">默认版块</option></optgroup><optgroup label="--站务管理"><option value="76">意见反馈</option></optgroup></select>
     </div>
     <div class="cont_r">
     	用于隐藏不希望在AppCan手机论坛客户端应用上显示的板块。论坛本身隐藏的板块不需要再次在这里设置。<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
  
  <div class="nav_bg nav_top"><b>自定义热帖、新帖、咨询</b></div>
    <div class="m_title"><b>新帖</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<select name="hideportal[]" size="10" multiple="multiple">
		   		<option value="">空</option><option value="1" class="bold">郑生贵100</option><option value="2" class="bold">郑生贵2</option></select>
     </div>
     <div class="cont_r">
     	希望显示在最新主题页的前二十条新帖<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
  <div class="m_title"><b>热帖</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<select name="hideportal[]" size="10" multiple="multiple">
		   		<option value="">空</option><option value="1" class="bold">郑生贵100</option><option value="2" class="bold">郑生贵2</option></select>
     </div>
     <div class="cont_r">
     	希望显示在热帖列表页的前二十条热帖<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
    <div class="m_title"><b>咨询</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<select name="hideportal[]" size="10" multiple="multiple">
		   		<option value="">空</option><option value="1" class="bold">郑生贵100</option><option value="2" class="bold">郑生贵2</option></select>
     </div>
     <div class="cont_r">
     	希望显示在咨询列表页的前二十条咨询<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
   <div class="line"></div>
  <div class="next_box" style="padding-left:260px;">
  <a href="#" class="next_btn" style="float:left; margin-right:65px;"><b>上一步</b></a>
  <a href="#" class="next_btn" style="float:left"><b>下一步</b></a>
  <div class="clear"></div>
  </div>
</body>
</html>
