<div class="focus" id="sitefocus">
	<div class="bm">
		<div class="bm_h cl">
			<a href="javascript:;" onclick="setcookie('zywx_nofocus', 1, 1*1800);$('sitefocus').style.display='none'" class="y" title="{lang close}">{lang close}</a>
			<h2>{lang focus_hottopics}</h2>
		</div>
		<div class="bm_c">
			<dl class="xld cl bbda">
				<dt></dt>
				<!--{if $focus[image]}-->
				<dd class="m"><a href="plugin.php?id=zywx:propagate" target="_blank"><img src="source/plugin/zywx/template/images/set_index.png" alt="&#25163;&#26426;&#23458;&#25143;&#31471;"/></a></dd>
				<!--{/if}-->
				<dd>
				 &#20146;&#65292;&#36824;&#27809;&#19979;&#36733;&#35770;&#22363;&#25163;&#26426;&#23458;&#25143;&#31471;&#65311;&#36319;&#19978;&#28526;&#27969;&#20570;&#26102;&#23578;&#36798;&#20154;&#12290;&#25484;&#20013;&#20048;&#36259;&#26080;&#22788;&#19981;&#22312;&#65292;&#24555;&#28857;&#19979;&#36733;&#21543;&#12290;
				</dd>
			</dl>
			<p class="ptn hm"><a href="plugin.php?id=zywx:propagate" class="xi2" target="_blank">{lang focus_show} &raquo;</a></p>
		</div>
	</div>
</div>