<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理应用</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
            <b class="html_b htmer_circle1"></b>
            <b class="html_b htmer_circle2"></b>
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <b class="html_b htmer_circle3 "></b>
            <b class="html_b htmer_circle4"></b>
        </div>
        <div class="clear"></div>
        <div class="admin_box">
        	<div class="admin_a">
            	<a href="#" class="a_btn">重新生成</a>
                <a href="#" class="a_btn">数据统计</a>
                <a href="#" class="a_btn">行为统计</a>
                <div class="clear"></div>
            </div>
            <div class="admin_app">
                <div class="app_icon"><img src="images/app_icon.png" width="73" height="73" /></div>
                <div class="app_r">
                	<p>应用名称：APPCAN</p>
                    <p>更新时间：2012-04-18 15:29:56</p>
                    <p>已生成的平台：Android</p>
                    <p>应用介绍：这是应用介绍，这是应用介绍，这是应用介绍，这是应用介绍，这是应用介绍，这是应用介绍，这是应用介绍。</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="nav_bg" style="margin:30px 0px 0px 0px;">
            <b>当前版本：</b><span style="color:#717171">（打包成功后插件自动将生成的客户端发布至宣传页）</span>
            </div>
            <div class="div_box">
            	<b class="html_b_1 htmer_circle_11"></b>
                <b class="html_b_1 htmer_circle_21"></b>
                <div id="newest" class="html_content_1" >
                	<div class="ta_bg"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                      <tr class="tr1">
                        <td class="td1" >版本</td>
                        <td class="td2" >更新时间</td>
                        <td class="td3" >平台</td>
                        <td class="td4" >操作</td>
                        <td class="td5">&nbsp;</td>
                      </tr>
                      <tr class="odd">
                        <td>0.4</td>
                        <td> 2012-04-20 17:10:40 </td>
                        <td>Android</td>
                        <td><a href="#">下载</a></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr class="even">
                        <td>0.4</td>
                        <td> 2012-04-20 17:10:40 </td>
                        <td>Android</td>
                        <td><a href="#">下载</a></td>
                        <td>&nbsp;</td>
                      </tr>
                      
                    </table>

                </div>
                <b class="html_b_1 htmer_circle_21"></b>
                <b class="html_b_1 htmer_circle_11"></b>
            </div>
        </div>   
  </div>  
</body>
</html>
