<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>生成安装包</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
            <b class="html_b htmer_circle1"></b>
            <b class="html_b htmer_circle2"></b>
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <b class="html_b htmer_circle3 "></b>
            <b class="html_b htmer_circle4"></b>
        </div>
        <div class="clear"></div>
        <div class="app_img">	 </div>
        <div class="app_box">
        	尊敬的用户：<br />
            在您打包之前有2人在排队等待打包, 您选择的平台生成安装包预计需要40秒，请您耐心等待。
            此程序为后台运行，你可以在此期间进行其它操作，稍后可进入"管理应用"查看最终结果。
        </div>
        <a href="#" class="next_btn" style="margin:70px auto 20px;" ><b>直接进入管理应用页面</b></a>
  </div>
  
</body>
</html>
