<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容设置</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
            <b class="html_b htmer_circle1"></b>
            <b class="html_b htmer_circle2"></b>
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <a href="#" class="btn2">内容设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <b class="html_b htmer_circle3 "></b>
            <b class="html_b htmer_circle4"></b>
        </div>
        <div class="clear"></div>
  </div>
  <div class="nav_bg"><b>绑定微博appkey</b><span style="color:#717171">（请输入有效的appkey如检测未生效则使用默认key）</span></div>
  <div class="text_box">
  	<label class="label_box"> 微博平台</label>
    <div class="select_box"><select name=""><option>围攻</option></select></div>
    <div class="ts_box hide" >回调页为微博授权成功或失败返回的链接页面，请与在新浪申请key时设置的应用回调页保持一致，否则将导致失败</div>
    <div class="clear"></div>
  </div> 
  <div class="text_box">
  	<label class="label_box"> app key</label>
    <div class="input_box"><input name="" type="text"  value="输入申请的appkey"/></div>
    <div class="ts_box hide">回调页为微博授权成功或失败返回的链接页面，请与在新浪申请key时设置的应用回调页保持一致，否则将导致失败</div>
    <div class="clear"></div>
  </div>  
  <div class="text_box">
  	<label class="label_box">应用回调页</label>
    <div class="input_box"><input name="" type="text"  /></div>
    <div class="ts_box">回调页为微博授权成功或失败返回的链接页面，请与在新浪申请key时设置的应用回调页保持一致，否则将导致失败</div>
    <div class="clear"></div>   
  </div> 
  <a href="http://v.youku.com/v_show/id_XMzczMTMxNzQ0.html  appcan" style="margin:10px 0px 0px 44px; display:block; color:#8f8f8f; line-height:20px;">http://v.youku.com/v_show/id_XMzczMTMxNzQ0.html  appcan新浪微博应用回调页</a>
  <div class="nav_bg nav_top"><b>资讯头条广告栏</b><span style="color:#717171">（上传图像不超过50k，支持格式为png、jpg、gif。为保证图片效果，建议上传480*120px的png图片）</span></div>
  
  <div class="banner_box">
    <div class="banner">
    	<div class="banner_bg">ddd</div>
    </div>
    <div class="banner_btn">
         <div class="up_img">
          	<a href="#" class="a_btn">上传图片</a>
             <input name="" type="file" class="file_box" />
          </div>
          <a href="#" class="a_btn">恢复默认</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="nav_bg nav_top"><b>首页广告栏</b><span style="color:#717171">（标准大小，大小不做限制，格式只能是gif、jpeg、png）</span></div>
  <div class="radio_t" style="padding-left:30px;">
          	 <div class="r_title">开启首页广告栏<span>（选择"是"开启首页广告栏，如需关闭请卸载插件或选择"否"关闭首页广告栏）</span></div>
             <div style="margin-top:5px;">
                <input name="" type="radio" value="" />是　　　　
                <input name="" type="radio" value="" />否　　　　
             </div>
         </div> 
  <div class="banner_box">
    <div class="banner_h">
    	<div class="banner_bg">ddd</div>
    </div>
    <div class="banner_btn">
         <div class="up_img" style="margin-top:90px;">
          	<a href="#" class="a_btn">上传图片</a>
             <input name="" type="file" class="file_box" />
          </div>
    </div>
    <div class="clear"></div>
  </div>
    <div class="nav_bg nav_top"><b>热帖内广告栏</b><span style="color:#717171">（位于帖子内容最下端，回复上面。标准大小， 大小不做限制，格式只能是gif、jpeg、png）</span></div>
  		<div class="radio_t" style="padding-left:30px;">
          	 <div class="r_title">开启热帖广告栏<span>（选择"是"开启热帖广告栏，如需关闭请卸载插件或选择"否"关闭首页广告栏）</span></div>
             <div style="margin-top:5px;">
                <input name="" type="radio" value="" />是　　　　
                <input name="" type="radio" value="" />否　　　　
             </div>
         </div> 
  <div class="banner_box">
    <div class="banner_index">
    	<div class="banner_bg_i">ddd</div>
    </div>
    <div class="banner_btn">
         <div class="up_img" style="margin-top:120px;">
          	<a href="#" class="a_btn">上传图片</a>
             <input name="" type="file" class="file_box" />
          </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="nav_bg nav_top"><b>隐藏频道</b></div>
  <div class="m_title"><b>门户</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<div>空</div> 
     </div>
     <div class="cont_r">
     	用于隐藏不希望在AppCan手机论坛客户端应用上显示的栏目。门户本身隐藏的栏目不需要再次在这里设置。<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
  <div class="m_title"><b>论坛</b></div>
  <div class="cont_box">
  	 <div class="cont_l">
     	<div>空</div> 
        <div class="cont_t">--AppCan开发论坛--</div>
        <ul class="cont_list">
        	<li>开发论坛</li>
            <li>作品欣赏</li>
            <li>开发论坛</li>
            <li>作品欣赏</li>

        </ul>
     </div>
     <div class="cont_r">
     	用于隐藏不希望在AppCan手机论坛客户端应用上显示的板块。论坛本身隐藏的板块不需要再次在这里设置。<br />按住 CTRL 多选
     </div>
     <div class="clear"></div>
  </div>
   <div class="line"></div>
  <div class="next_box" style="padding-left:260px;">
  <a href="#" class="next_btn" style="float:left; margin-right:65px;"><b>上一步</b></a>
  <a href="#" class="next_btn" style="float:left"><b>下一步</b></a>
  <div class="clear"></div>
  </div>
</body>
</html>
