<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>推广设置</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
            <b class="html_b htmer_circle1"></b>
            <b class="html_b htmer_circle2"></b>
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <b class="html_b htmer_circle3 "></b>
            <b class="html_b htmer_circle4"></b>
        </div>
        <div class="clear"></div>
        <div class="nav_bg" >
            <b>宣传推广</b><span style="color:#717171">（建议生成应用后在设置推广方式，否则用户将无法下载到对应平台安装包）</span>
       </div>
        <div class="admin_box">     
          <div class="radio_t">
          	 <div class="r_title"><b>宣传专题页导航位置</b><span>（选择宣传页导航放置位置，选择后显示顺序为尾端，如需调整显示顺序请在后台进行调整）</span><a href="#">样式预览</a></div>
             <div style="margin-top:5px;">
                <input name="" type="radio" value="" />顶部导航　　　　　　
                <input name="" type="radio" value="" />底部导航　　　　　　
                <input name="" type="radio" value="" />关闭导航　　　　　　
             </div>
          </div> 
          <div class="radio_t">
          	 <div class="r_title"><b>开启页头通栏广告</b><span>（选择"是"开启页头通栏广告，如需关闭请卸载插件或选择"否"关闭页头通栏广告）</span><a href="#">样式预览</a></div>
             <div style="margin-top:5px;">
                <input name="" type="radio" value="" />是　　　　　　
                <input name="" type="radio" value="" />否　　　　　　　　　　　
             </div>
          </div>
           <div class="radio_t">
             <div class="r_title"><b>开启右下角弹窗</b><span>（选择‘是’进入论坛与门户首页时会弹出您生成的手机端安装应用下载提示窗）</span><a href="#">样式预览</a></div>
             <div style="margin-top:5px;">
                <input name="" type="radio" value="" />是　　　　　　
                <input name="" type="radio" value="" />否　　　　　　
             </div>
          </div>  
          <div class="radio_t">
             <div class="r_title"><b>首页右下角弹窗口时间间隔</b><span>（单位为“天”，0为不限制）</div>
             <div class="input_box"><input name="" type="text"  value=""/></div>
             <div class="clear"></div>
          </div>
          <div class="xc_border">
          	<div class="r_title"><b>宣传专题页面</b><span>（您需开启插件后方可查看宣传页）</span><a href="#">样式预览</a></div>
            <div style="float:left; height:25px; line-height:25px; margin-right:10px;">页面地址：http://bbs.appcan.cn/plugin.php?id=zywx:propagate</div>
            <a href="#" class="a_btn" style="float:left">复制</a>
            <div class="clear"></div>
          </div>
          <div class="sm_info">
             <div class="r_title"><b>宣传专题页面</b></div>
             <p class="p_line">1.请用Dreamweaver 打开 propagate.inc.php修改宣传页面</p>
             <p class="p_line">2.替换source\plugin\zywx\propagate\images\xc.jpg图片修改宣传页图片</p>
             <p class="p_line">3.宣传页图片大小是960x396;</p>
             <p class="p_line">4.修改propagate.inc.php第433、442、451、455行的img标签代码设置手机平台logo</p>
             <p class="p_line">5.修改propagate.inc.php第167行代码按钮背景图片</p>
             <p class="p_line">6.宣传页中用到的图片在source\plugin\zywx\propagate\images文件夹中</p>
          </div>
          <div class="next_box"><a href="#" class="next_btn"><b>保存</b></a></div>
       </div>   
  </div>  
</body>
</html>
