<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>行为统计</title>
<link href="css/style.css" rel="stylesheet"  type="text/css"/>
</head>

<body class="body_bg">
  <div class="padd">
        <div class="t-header">
            <b class="html_b htmer_circle1"></b>
            <b class="html_b htmer_circle2"></b>
            <div  class="html_content" >
                <b style="float:left; display:block; line-height:50px;">AppCan AppCan 手机论坛客户端</b>
                <div class="title_r">
                    <a href="#" class="btn1">我要推广</a>
                    <a href="#" class="btn2">管理应用</a>
                    <a href="#" class="btn2">推广设置</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <b class="html_b htmer_circle3 "></b>
            <b class="html_b htmer_circle4"></b>
        </div>
        <div class="clear"></div>
        <div class="nav_bg" >
            <b>管理应用</b><span style="color:#717171">　》数据统计</span>
            </div>
        <div class="admin_box">
           <div class="date_box" style="margin-top:15px;">
           		<div class="date_bg"><input name="" type="text"  value="2011-08-23"/></div>
                <div class="date1">至</div>
                <div class="date_bg" style="margin-right:10px;"><input name="" type="text"  value="2011-08-23"/></div>
                <div class="date2"></div>
                <div class="date3"><input name="" type="submit" class="a_btn" style="border:0px;" value="查询" /></div>
                <div class="input_box" style="float:left; margin-right:10px; margin-top:3px;"><input name="" type="text"  value="输入申请的appkey"/></div>
                <div class="date3" style="_margin-left:-80px;"><input name="" type="submit" class="a_btn" style="border:0px;" value="帐号搜索" /></div>
                <div class="clear"></div>
           </div>
            <div class="div_box">
            	<b class="html_b_1 htmer_circle_11"></b>
                <b class="html_b_1 htmer_circle_21"></b>
                <div id="newest" class="html_content_1" >
                	<div class="ta_bg"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                      <tr class="tr1">
                        <td class="data_td1" >日期</td>
                        <td class="data_td2" >客户端安装量</td>
                        <td class="data_td2" >客户端启动量</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr class="odd">
                        <td>2012-04-20 </td>
                        <td> 2012-04-20 17:10:40 </td>
                        <td>Android</td>

                        <td>&nbsp;</td>
                      </tr>
                      <tr class="even">
                        <td>2012-04-20 </td>
                        <td> 2012-04-20 17:10:40 </td>
                        <td>Android</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr class="zone">
                        <td>合计 </td>
                        <td> 2012-04-20 17:10:40 </td>
                        <td>Android</td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>

                </div>
                <b class="html_b_1 htmer_circle_21"></b>
                <b class="html_b_1 htmer_circle_11"></b>
                <div class="clear"></div>
            </div>
           
            <a href="#" class="a_btn" style="margin:16px 0px 0px 15px;">导出Excle</a>
        </div>   
  </div>  
</body>
</html>
